        .irupcicon{
            color: ivory;
            position: absolute;
            left: 0;
            top: 0;
            padding: 0 3px;
            margin-top: -1px
        }
        .ipsearch{
            float: right;
            padding-top: 3%;
        }
        .ipnav{
            float: left;
            padding-top: 3%;
        }
        
    #ipyear2{display:none;}
    #ipgenre2{display:none;}
    #iplang2{display:none;}
    .irupctext{
        font-size: 20px;
        font-weight: bold;
    }

        .irupcli{
            font-size: small;
            text-align: left;
        }
        .ipli{
            cursor: pointer;
            padding-left: 22px;

        }
        .ipli:hover{
            font-weight: bolder;
            color: rgb(75, 147, 255);
            font-size: large;
        }
        .ips{
            padding-left: 20px;
        }

        .irupcTelegram{
        background-color: #0088cc;
        border: none;
        padding: 12px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin: 4px 2px;
        transition-duration: 0.3s;
        cursor: pointer;
        border-radius: 50px;
        font-weight: bold;
        font-size: 16px;
        }

        .irupcTelegram:hover{
        background-color: #0088cc;
        color: #000;
        border: none;
        padding: 12px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin: 4px 2px;
        transition-duration: 0.3s;
        cursor: pointer;
        border-radius: 0px;
        font-weight: bold;
        font-size: 16px;
        }

        .irupcWhatsApp{
        background-color: #25D366; 
        color: #000;
        border: none;
        padding: 12px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin: 4px 2px;
        transition-duration: 0.3s;
        cursor: pointer;
        border-radius: 50px;
        font-weight: bold;
        font-size: 16px;
        }

        .irupcWhatsApp:hover{
        background-color: #128C7E;
        color: #000;
        border: none;
        padding: 12px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin: 4px 2px;
        transition-duration: 0.3s;
        cursor: pointer;
        border-radius: 0px;
        font-weight: bold;
        font-size: 16px;
        }
        .irupcFaceBook{
        background-color: #4267B2;
        border: none;
        padding: 12px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin: 4px 2px;
        transition-duration: 0.3s;
        cursor: pointer;
        border-radius: 50px;
        font-weight: bold;
        font-size: 16px;
        }

        .irupcFaceBook:hover{
        background-color: #898F9C;
        color: #000;
        border: none;
        padding: 12px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin: 4px 2px;
        transition-duration: 0.3s;
        cursor: pointer;
        border-radius: 0px;
        font-weight: bold;
        font-size: 16px;
        }
    }
